.banner {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: -1; /* Send to back */
}

.banner img {
    width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    z-index: 1; /* Ensure content is above the banner */
}